.ui-input {
  width: 100%;
  input {
    flex: 1;
    width: 100%;
    height: 100%;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    font-size: inherit;
    font-family: var(--font-primary);
    border-radius: 6px;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background-color: inherit;
    background-clip: text;
    color: var(--emphasis-primary);

    &::placeholder {
      color: var(--emphasis-tertiary);
    }
    &:hover::placeholder {
      color: var(--emphasis-quaternary);
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: var(--emphasis-primary);
    }
  }
  [readonly] {
    cursor: not-allowed;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    color: var(--emphasis-primary);
    &:focus-within {
      background-color: var(--positive);
    }
    &:hover,
    &:focus-within {
      border-color: var(--negative);
    }
    &--error {
      border-color: var(--error);
      &:hover,
      &:focus-within {
        border-color: var(--error);
      }
    }
    &--success {
      border-color: var(--success);
      &:hover,
      &:focus-within {
        border-color: var(--success);
      }
    }
    &--disabled {
      color: var(--emphasis-quaternary);
      background-color: var(--green-6);
      input {
        cursor: not-allowed;
        &:hover,
        &:hover::placeholder {
          color: var(--emphasis-quaternary);
        }
      }
    }
    &--small {
      height: 26px;
      font-size: 14px;
      padding: 3px 6px 4px 8px;
      column-gap: 4px;
    }
    &--medium {
      height: 34px;
      font-size: 15px;
      padding: 2px 7px 4px 8px;
      column-gap: 6px;
    }
    &--large {
      height: 42px;
      font-size: 16px;
      padding: 3px 8px 5px 10px;
      column-gap: 8px;
    }
  }

  &__start-adornment,
  &__end-adornment {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
    user-select: none;
    svg {
      fill: var(--emphasis-tertiary);
    }
  }

  &__validation-wrapper {
    display: flex;
    padding: 5px 2px;
    min-height: 18px;
  }
  &__validation-messages {
    flex: 1;
  }
}
