.ui-score {
  --ui-score--tick-color: var(--blue-3);

  position: relative;
  height: 80px;
  width: 80px;
  margin: auto;

  &__ticks {
    color: var(--ui-score--tick-color);
  }

  &__tick {
    transform-origin: 50px 50px;
  }

  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--emphasis-primary);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--blue-2);
  }
}
