.ui-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ui-btn--width, auto);
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--d-din);
  outline: 0;
  color: var(--emphasis-primary);
  &:hover {
    background-color: var(--emphasis-tertiary);
  }
  &:active {
    background-color: var(--emphasis-quaternary);
    border-color: var(--emphasis-quaternary);
  }

  &--primary {
    color: var(--white);
    background-color: var(--accent-1);
    &:hover {
      background-color: var(--accent-2);
    }
    &:active {
      background-color: var(--accent-1);
      border-color: var(--accent-1);
    }
  }

  &--secondary {
    color: var(--white);
    background-color: var(--blue-3);
    &:hover {
      background-color: var(--blue-4);
    }
    &:active {
      background-color: var(--blue-3);
      border-color: var(--blue-3);
    }
  }

  &--tertiary {
    background-color: transparent;
    border: 2px solid var(--emphasis-tertiary);

    &.ui-btn--disabled {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &--ghost {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:active {
      border-color: transparent;
    }
    &.ui-btn--disabled {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
    &.ui-btn--icon {
      width: auto;
      height: auto;
      border-radius: initial;
      padding: 0;
    }
  }

  &--danger {
    color: var(--bad);
    background-color: transparent;
    border-color: var(--bad);
    &:hover {
      background-color: var(--bad);
      color: var(--white);
    }
    &:active {
      border-color: var(--bad);
      color: var(--emphasis-tertiary);
    }
    &.ui-btn--disabled {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &--disabled {
    color: var(--emphasis-tertiary);
    background-color: var(--emphasis-quaternary);
    cursor: not-allowed;
    &:hover {
      color: var(--emphasis-tertiary);
      background-color: var(--emphasis-quaternary);
    }
  }

  &--small {
    height: 20px;
    column-gap: 6px;
    border-radius: 10px;
    padding: 0 6px;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid transparent;
    &.ui-btn--square {
      min-width: 20px;
      border-radius: 6px;
    }
    &.ui-btn--icon {
      width: 26px;
    }
  }

  &--medium {
    height: 32px;
    column-gap: 8px;
    border-radius: 16px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 16px;
    border: 2px solid transparent;
    &.ui-btn--square {
      min-width: 32px;
      border-radius: 8px;
      padding: 0 5px;
    }
    &.ui-btn--icon {
      width: 32px;
      border-radius: 8px;
      column-gap: 6px;
      padding: 0;
      svg {
        font-weight: 700;
      }
    }
  }

  &--large {
    height: 40px;
    column-gap: 10px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    padding: 0 20px;
    border: 2px solid transparent;
    &.ui-btn--square {
      min-width: 40px;
      border-radius: 10px;
      padding: 0 7px;
    }
    &.ui-btn--icon {
      width: 40px;
      border-radius: 10px;
      column-gap: 8px;
      padding: 0;
      svg {
        font-weight: 700;
      }
    }
  }
}
