.ui-data-rows {
  &__row {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    color: var(--emphasis-primary);
    &--divider {
      border-bottom: 1px solid var(--border-color);
    }

    &--clickable {
      cursor: pointer;
      &:hover {
        background-color: var(--positive);
      }
    }
  }
  &__label {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
  }
  &__value {
    flex: 2;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    padding-right: 5px;
  }
}
