.ui-label {
  display: block;
  width: 100%;
  position: relative;
  font-family: var(--font-primary);
  color: var(--emphasis-primary);

  &__text {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__end-adornment {
    margin-bottom: 2px;
  }

  &--top,
  &--bottom {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
  }

  &--right,
  &--left {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &--disabled {
    opacity: 0.4;
  }

  &--large {
    font-size: var(--ui-label--text-font-size, 16px);
  }

  &--medium {
    font-size: var(--ui-label--text-font-size, 14px);
  }

  &--small {
    font-size: var(--ui-label--text-font-size, 12px);
  }
}
