.ui-input-filter {
  input[type='number'],
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
  }

  input {
    &::placeholder {
      color: var(--emphasis-primary);
    }
    &:hover::placeholder {
      color: var(--emphasis-primary);
    }
  }

  &__tooltip {
    position: absolute;
    padding: 5px;
    font-weight: 100;
    font-size: smaller;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 0 3px 0 var(--overlay2);
    z-index: 10;
    display: none;

    &--show {
      display: flex;
    }

    &--error {
      color: var(--error);
    }

    &:after {
      content: '';
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-60%) translateY(-60%) rotate(271deg);
      display: block;
      width: 25px;
      height: 1px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid var(--white);
    }
  }
  .ui-input {
    &__wrapper {
      background-color: var(--ag-background-color);
      &:focus-within {
        background-color: var(--ag-background-color) !important;
      }
    }
  }
}
