.ui-color-input {
  position: relative;
  box-sizing: border-box;
  margin: 0;

  &__validation-wrapper {
    min-height: 18px;
  }

  &--error {
    color: var(--error);
    .ui-btn {
      border-color: var(--error);
    }
  }

  .ui-btn {
    color: var(--white);
    text-shadow: -1px 1px 0 var(--black), 1px 1px 0 var(--black), 1px -1px 0 var(--black), -1px -1px 0 var(--black);
    }
}
