@use '../src/styles/colors';
@use '../src/styles/fontFaces';
@import 'highcharts/css/highcharts.css';
@import 'react-tooltip/dist/react-tooltip.css';

@include fontFaces.font-faces();

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  &.dark {
    @include colors.colors-palette-dark-theme();
  }

  &.light {
    @include colors.colors-palette-light-theme();
  }
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: var(--font-primary);
  color: var(--emphasis-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: auto;
}

#storybook-root {
  height: 100%;
  padding: 1rem;
  background-color: var(--app-backgroung-color);
}

#storybook-docs {
  .docs-story {
    background-color: var(--app-backgroung-color);
  }

  .ui-docs-story {
    &--dark {
      @include colors.colors-palette-dark-theme();
    }

    &--light {
      @include colors.colors-palette-light-theme();
    }
  }
}

:root {
  //colors
  @include colors.system-color-pallet();
  @include colors.primary-color-pallet();
  @include colors.neutral-colors();
  @include colors.gray-color-pallet();
  @include colors.feedback-color-pallet();
  @include colors.severity-color-pallet();
}

