@import 'highcharts/css/highcharts.css';
@import '../src/styles/index.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--emphasis-primary);
}

html {
  &.dark {
    @include colors-palette-dark-theme();
  }

  &.light {
    @include colors-palette-light-theme();
  }
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: auto;
}

#storybook-root {
  height: 100%;
  padding: 1rem;
  background-color: var(--app-backgroung-color);
}

#storybook-docs {
  .sbdocs {
    background-color: var(--app-backgroung-color);
  }
}
