.ui-avatar {
  position: relative;
  background-color: var(--negative);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-primary);
  font-weight: 700;

  &__img {
    position: absolute;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
  }

  &__icon {
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &--disabled {
    opacity: 0.3;
    cursor: default;
  }

  &--clickable:hover {
    cursor: pointer;
    .ui-avatar__icon {
      display: flex;
    }
    .ui-avatar__img,
    .ui-avatar__initials {
      opacity: 0.3;
    }
  }

  &--small {
    width: 26px;
    height: 26px;
    font-size: 12px;
  }

  &--medium {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }

  &--large {
    width: 56px;
    height: 56px;
    font-size: 20px;
  }
}
