@use '../../styles/mixins' as mixin;

.ui-accordion {
  width: 100%;
  &__section-header {
    text-transform: uppercase;
    color: var(--emphasis-primary);
    font-size: 14px;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px;
    border-color: var(--border-color);

    &:hover {
      border-color: var(--negative);
      color: var(--negative);

      &:before {
        border-top-color: var(--negative);
        border-left: var(--negative);
      }
    }

    &--separator {
      margin-bottom: 15px;
      @include mixin.separator;
    }

    &--simple-separator {
      margin-bottom: 5px;
      @include mixin.simple-separator;
    }
  }
  &__section-header-title {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      color: var(--emphasis-primary);
      width: 16px;
      height: 16px;
    }
  }

  &__section--expanded {
    .ui-accordion__section-header {
      color: var(--emphasis-primary);
      border-color: var(--negative);
      &:before {
        border-top-color: var(--negative);
        border-left: var(--negative);
      }
    }
  }

  &__section--expandable {
    .ui-accordion__section-header {
      cursor: pointer;
    }
  }

  &__section-content {
    color: var(--emphasis-primary);
  }
}
