.ui-actions-cell-renderer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;

  &__icon {
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    width: 14px;
    color: var(--emphasis-primary);
    &:hover {
      color: var(--accent-1);
    }
  }
}
