.ui-actions-cell-renderer {
  display: flex;
  color: var(--emphasis-primary);
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;

  &__icon {
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    &:hover {
      color: var(--accent-1);
    }
  }
}
